<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div>
          <div> Upload Gallery
            <div class="page-title-subheading">Gallery Information
            </div>
          </div>
        </div>
        <div class="page-title-actions">

          <div class="d-inline-block dropdown">
            <a (click)="navigateToListing()" class="border-0 btn">
              <i class="icofont-arrow-left"></i> back to list
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="card mb-3">

          <div class="tab-content">
            <div class="tab-pane show active" id="tab-content-0" role="tabpanel">
              <div class="card">                    
                      <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" ngNativeValidate>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-12">
                             
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="control-label">Event Name<span class="text-danger">*</span></label>
                                    <input type="name" class="form-control" formControlName="name" maxlength="15">
                                   
                                  </div>
                                </div>
                
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="control-label">Upload Image's<span class="text-danger">*</span></label>
                                      <input 
                                          formControlName="file"
                                          id="file" 
                                          type="file" 
                                          class="form-control"
                                          multiple="" 
                                          (change)="onFileChange($event)">
                                      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                          <div *ngIf="f.file.errors.required">File is required.</div>
                                      </div>
                                 
                                  <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
                
                                  </div>
                                </div>
                              </div>
                            </div>
                           
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <hr>
                              <div class="form-group text-center">
                                <button type="submit"  style="margin-right: 1%;"
                                  class="btn btn-success btn-round btn-block1 margin-right-3"><i
                                    class="ri-check-fill"></i>Save</button>
                                <button type="button" class="btn btn-secondary btn-round btn-block1 margin-right-3"
                                  ><i class="ri-arrow-go-back-line"></i>Cancel</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
          
              </div>

            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>