<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div>
          <div> Inventory Managment
            <div class="page-title-subheading">Expense listing
            </div>
          </div>
        </div>
        <div class="page-title-actions">

          <div class="d-inline-block dropdown">
            <a style="margin-left: 4px;color: white;" (click)="navigateToProductAdd()" class="btn-shadow  btn btn-info">
              <i class="icofont-ui-add"></i> Add New
            </a>
            <!-- <div class="btn-group ">
              <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"><i class="icofont-upload-alt"></i> Export</button>
              <button type="button" class="btn m btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Download PDF</a>
                <a class="dropdown-item" href="#">Export to Excel</a>

              </div>
            </div>
            <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"> <i class="icofont-download-alt"></i> Import </button> -->

            <button (click)="deleteMultipleExpense()" style="margin-left: 4px;" type="button" class="btn-shadow  btn btn-danger">
              <i class="icofont-trash"></i> Delete Selected
            </button>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">

        <h4 class="d-flex flex-wrap justify-content-between align-items-center mb-3">
          <div>Expenses</div>
          <div class="col-12 col-md-4 p-0 mb-4">
            <i *ngIf="loaded; else spin;" (click)="refresh()" class="fa fa-refresh"
            style="font-size: 30px; margin-top: 5px;"></i>
          <ng-template #spin>
            <i (click)="refresh()" class="fa fa-refresh fa-spin" style="font-size: 30px; margin-top: 5px;"></i>
          </ng-template>
          <input style="width: 90%; float: right;" type="text" class="form-control"
          (keyup)="applyFilter($event.target.value)" placeholder="Search...">       
           </div>
        </h4>
        <div class="main-card mb-3 card">
          <!-- <div class="card-header">Products
                                        <div class="btn-actions-pane-right">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <button class="active btn btn-focus">Received </button>
                                                <button class="btn btn-focus">Pending</button>
                                            </div>
                                        </div>
                                    </div> -->
                                    <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
          <div class="card-body">
            
            <div class="table-responsive">
              <!-- <mat-form-field style="width: 100%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
              </mat-form-field> -->

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" style="width: 100%;">
                  <div>
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                      (change)="checkboxClicked($event,row)"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>
                    
                   

                    <ng-container matColumnDef="expense">
                      <th mat-header-cell *matHeaderCellDef> Expense </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef> Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.expense_type == null ? '--' : element.expense_type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.expense_date == null ? '--' : element.expense_date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="transaction">
                      <th mat-header-cell *matHeaderCellDef> Transaction </th>
                      <td mat-cell *matCellDef="let element"> {{element.transaction_type == null ? '--' : element.transaction_type}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> 
                        <span class="badge" [ngClass]="{
                          'badge-success':element.status === 'active',
                          'badge-danger':element.status === 'deactivate'
                        }" >{{statusEnum[element.status]}}</span> 
                      </td>
                    </ng-container> -->

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef width='90px'> Actions </th>   
                      <td mat-cell *matCellDef="let element"> 
                        <div class="buttons">
                          <button style="float: right;"  (click)="getExpenseId(element.id,'delete')"
                          class="btn btn-danger btn-sm"><i style="margin-top: -2px;" class="fa fa-trash-o"></i></button>
                        <button (click)="getExpenseId(element.id,'edit')"
                          class="btn btn-success btn-sm"><i style="margin-top: -2px;" class="fa fa-edit"></i></button>
                          <!-- <a style="color: #8f8f8f;" (click)="getExpenseId(element.id,'edit')" class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Edit</a>
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm" (click)="getExpenseId(element.id,'delete')" >Delete</button>
                    -->
                        </div>
                      </td>
                    </ng-container>
                  </div>
                  <tr mat-header-row *matHeaderRowDef="table_headers"></tr>
                  <tr mat-row *matRowDef="let row; columns: table_headers;"></tr>
                </table>

                <mat-paginator #paginator [pageSize]="10" showFirstLastButtons [pageSizeOptions]="[10,50,100,500]">
                </mat-paginator>

              </div>
            </div>
          </div>


        </div>
      </div>

    </div>


  </div>








</div>