<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div>
          <div> Generate QR Code
            <div class="page-title-subheading">Table listing
            </div>
          </div>
        </div>
        <div class="page-title-actions">

          <div class="d-inline-block dropdown">
            <!-- <a style="margin-left: 4px;color: white;"  class="btn-shadow  btn btn-info">

              <i class="icofont-ui-add"></i> Add New
            </a> -->
            <!-- <div class="btn-group ">
              <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"><i class="icofont-upload-alt"></i> Export</button>
              <button type="button" class="btn m btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Download PDF</a>
                <a class="dropdown-item" href="#">Export to Excel</a>

              </div>
            </div>
            <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"> <i class="icofont-download-alt"></i> Import </button> -->

        
          </div>
        </div>
      </div>
    </div>

<div class="page-content container-fluid">
  <div class="width-full">
    <div id="qrcode"></div>
    <div class="panel panel-default round">
      <!-- <div class="panel-heading margin-bottom-0">
        <h3 class="panel-title font-weight-600 bg-theme1 white1">
          List
          <button type="button" class="input-search-close" data-toggle="popover" data-original-title=""
            data-trigger="hover" data-container="body" data-placement="top" data-html="true" id="help2">
            <i class="ri-information-line" matTooltip="Listing of Device Id, Device Type, created date"></i>
          </button>

        </h3>
        <div id="popover-content-help1" class="hide">
          Some help information goes here
        </div>

        <div class="panel-actions">
          <a></a>
        </div>
      </div> -->
      <div class="panel-body padding-15">
        <div class="row">
          <div class="col-md-6">
            <!-- <div class="input-search" style="max-width:50%;margin-bottom:10px">
                                                            <i class="input-search-icon ri-search-line"></i>
                                                            <input type="text" class="form-control" name="" placeholder="Search...">
                                                            <button type="button" class="input-search-close icon " data-toggle="popover"
                                                                data-original-title="" data-trigger="hover" data-container="body"
                                                                data-placement="top" data-html="true" id="help2"><i
                                                                    class="ri-information-line"></i></button>
                                                            <div id="popover-content-help2" class="hide">
                                                                Some help information goes here
                                                            </div>
                                                        </div> -->
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="form-group margin-bottom-10">
                
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group margin-bottom-0 text-right">
              <a class="btn btn-success btn-round btn-block1" (click)="generateCode()">
                <i class="ri-add-fill"></i> Generate QR Code</a>
            </div>
          </div>
        </div>
        <mat-progress-bar *ngIf="progressBar" class="margin-top-20 margin-bottom-20" mode="indeterminate">
        </mat-progress-bar>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" class="" matSort>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row; let element">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null; valuesChecked($event.checked, element.id);"
                  [checked]="selection.isSelected(row)" id="{{element.id}}">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="imei">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="arow">
                Table Id
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">IMEI:</span>
                <span matTooltip="{{ element.imei }}">{{ element.id }}</span>
              </mat-cell>
            </ng-container>


            <ng-container matColumnDef="device_type">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="arow">
                Table Name
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Device Type:</span>
                {{ element.key || 'N/A'}}
              </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="package">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Package
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Package:</span>
                {{ element.package[1] }}
              </mat-cell>
            </ng-container> -->
            <!-- <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Status:</span>
                {{ element.status }}
              </mat-cell>
            </ng-container> -->

            <!-- <ng-container matColumnDef="version" style="margin-right: 20px !important">
              <mat-header-cell *matHeaderCellDef>
                Version
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.model || 'N/A'}}
              </mat-cell>
            </ng-container> -->

            <!-- <ng-container matColumnDef="added_by">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Added By
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Added By:</span>
                {{ element.name | uppercase }}
              </mat-cell>
            </ng-container> -->

            <!-- <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="arow">
                Created Date
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Added Date:</span>
                {{ element.id}}
              </mat-cell>
            </ng-container> -->
<!-- 
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="arow"> Action
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="dtr-data"><button type="button" *ngIf="!user_read_only"
                    class="btn btn-icon  btn-info btn-xs margin-right-3" (click)="openEditModal(editfleet, element)"> <i
                      class="ri-pencil-fill"></i>
                  </button>
                 
                </span>
              </mat-cell>
            </ng-container> -->

            <!-- <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="dtr-data"><button type="button"
                                                          class="btn btn-icon  btn-info btn-xs margin-right-3"
                                                          (click)="openEditModal(editfleet, element)"> <i
                                                              class="ri-pencil-fill"></i>
                                                      </button>
                                                      <button type="button" class="btn btn-icon  btn-danger btn-xs "
                                                          (click)='deleteModal(element.id)'> <i
                                                              class="ri-delete-bin-6-line"></i>
                                                      </button></span>
            </mat-cell>
          </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <div *ngIf="lengthDataSource === 0" class="no-records">
            No records found
          </div>
         

          <mat-paginator #tableData [pageSize]="dataSourcePageSize" [length]="lengthDataSource" showFirstLastButtons
            [pageSizeOptions]="[10, dataSourcePageSize, 100, 150, 200]">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>


</div></div>