<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div>
          <div> Inventory Managment
            <div class="page-title-subheading">Deals Information
            </div>
          </div>
        </div>
        <div class="page-title-actions">

          <div class="d-inline-block dropdown">
            <a (click)="navigateToDealListing()" class="border-0 btn">
              <i class="icofont-arrow-left"></i> back to list
            </a>
            <!-- <a href="product-all.php" class="btn-shadow  btn btn-info">
              <i class="icofont-save"></i> Save Product
            </a>
            <button type="button" class="btn-shadow  btn btn-primary">

              <i class="icofont-save"></i> Save and Continue Edit
            </button>
            <button type="button" class="btn-shadow  btn btn-success">

              <i class="icofont-ui-copy"></i> Copy Product
            </button> -->
            <!-- <button *ngIf="edit" disabled style="margin-left: 5px;" type="button" class="btn-shadow  btn btn-danger">
              <i class="icofont-trash"></i> Delete
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <form [formGroup]="addForm" #formDir="ngForm" (ngSubmit)="onSubmit(addForm)">


        <div class="row">
          <div style="margin: 5px" class="col-md-3">
            <div class="form-group">
              <label for="name">Deal Name </label>
              <input type="text" formControlName="name" class="form-control" id="name">
              <span style="color: red;" *ngIf="getFormControl('name').invalid &&
            (getFormControl('name').dirty || getFormControl('name').touched ||formDir.submitted)">
                Deal Name is required.
              </span>
            </div>
          </div>

          <div style="margin: 5px" class="col-md-3">
            <!-- <div class="form-group">
            <label for="duration">Deal Duration </label>
            <input type="date" formControlName="duration" class="form-control" id="duration">
            <span style="color: red;" *ngIf="getFormControl('duration').invalid &&
            (getFormControl('duration').dirty || getFormControl('duration').touched ||formDir.submitted)">
              Duration  is required.
            </span>
          </div> -->
            <div class="form-group">
              <label for="duration">Deal Duration </label>
              <select class="form-control" data-live-search="true" data-style="btn-select" data-size="5"
                formControlName="duration">
                <option selected disabled value="">Select Duration</option>
                <option value="Quarterly">Quarterly</option>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
              </select>
              <span style="color: red;" *ngIf="getFormControl('duration').invalid &&
            (getFormControl('duration').dirty || getFormControl('duration').touched ||formDir.submitted)">
                Duration is required.
              </span>
            </div>
          </div>

          <div style="margin: 5px" class="col-md-6">
            <div class="form-group">
              <label for="duration">Deal Description </label>
              <textarea class="form-control" formControlName="duration" rows="4" cols="30" nullValue> </textarea>
              <!-- <span style="color: red;" *ngIf="getFormControl('duration').invalid &&
            (getFormControl('duration').dirty || getFormControl('duration').touched ||formDir.submitted)">
              Duration  is required.
            </span> -->
            </div>
          </div>

        </div>

        <div class="row">
          <div style="margin: 5px" class="col-md-12">
            <div class="form-group">
              <label for="deal_name">Slot
                <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-success"
                  (click)="addAttribute()"><i class="icofont-ui-add"></i></button>
                <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-danger"
                  (click)="minusAttribute()"><i style="margin-top: -2px;" class="fa fa-minus"></i></button>
              </label>
              <div formArrayName="deal_items">
                <div *ngFor="let attribute of addForm.controls.deal_items['controls']; let i = index"
                  [formGroupName]="i">


                  <div class="row">
                    <div style="margin: 5px" class="col-md-4">
                      <div class="form-group">
                        <label for="name"> Name </label>
                        <input type="text" formControlName="item" class="form-control" id="item_name">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group checkbox-layout">
                        <input type="checkbox" formControlName="categoryChkBox" id="categoryChkBox{{i}}">
                        <label for="categoryChkBox{{i}}" class="checkbox-label"> Category </label>
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 5px;" class="col-md-4">
                   
                      <div class="form-group"
                        *ngIf="addForm.controls.deal_items.controls[i].controls.categoryChkBox.value">
                        <label>Select Item</label>
                        <select class="form-control" data-live-search="true" data-style="btn-select" data-size="5"
                          formControlName="item">
                          <option selected disabled value="">Select</option>
                          <option *ngFor="let option of fieldsddd" value="{{option.id}}">{{option.name}}</option>
                        </select>
                      </div>
                  </div>

                  <div formArrayName="itemsArr">
                    <div *ngFor="let child of attribute.get('itemsArr').controls;let j=index" [formGroupName]="j">
                      <!-- <input formControlName="productItems"> -->
                      <div *ngIf="!addForm.controls.deal_items.controls[i].controls.categoryChkBox.value" style="margin-bottom: 5px;">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Select Item
                              <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-success"
                            (click)="addAttributeCategory(i, j)"><i class="icofont-ui-add"></i></button>
                          <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-danger"
                            (click)="minusAttributeCategory(i)"><i style="margin-top: -2px;"
                              class="fa fa-minus"></i></button>
                            </label>
                        <select class="form-control" data-live-search="true" data-style="btn-select" data-size="5"
                          formControlName="productItems">
                          <option selected disabled value="">Select</option>
                          <option *ngFor="let option of fieldsdd" value="{{option.id}}">{{option.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>



                </div>
              </div>

              <!-- <div formArrayName="product_items">
                <div *ngFor="let attribute of addForm.controls.product_items['controls']; let i = index"
                  [formGroupName]="i">

                  <div style="margin-bottom: 5px;">
                    <div class="col-md-4">
                      <div class="form-group"
                        *ngIf="!addForm.controls.deal_items.controls[i].controls.categoryChkBox.value">
                        <label>Select Item
                          <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-success"
                            (click)="addAttributeCategory()"><i class="icofont-ui-add"></i></button>
                          <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-danger"
                            (click)="minusAttributeCategory()"><i style="margin-top: -2px;"
                              class="fa fa-minus"></i></button>
                        </label>
                        <select class="form-control" data-live-search="true" data-style="btn-select" data-size="5"
                          formControlName="item">
                          <option selected disabled value="">Select</option>
                          <option *ngFor="let option of fieldsdd" value="{{option.id}}">{{option.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->



            </div>
          </div>

        </div>

        <div class="d-block text-right card-footer ">
          <button [disabled]="submit_clicked" class="btn btn-success pull-right " style="margin-bottom: 15px;"
            type="submit">Submit</button>
        </div>

      </form>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <!-- <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
          <li class="nav-item">
            <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
              <span>Category Information</span>
            </a>
          </li>
           <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
              <span>Category Pictures</span>
            </a>
          </li>
          <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-2">
              <span>Category Pricing</span>
            </a>
          </li> 
        </ul> -->
        <div class="card mb-3">

          <div class="tab-content">
            <div class="tab-pane show active" id="tab-content-0" role="tabpanel">
              <div class="card">
                <!-- <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar> -->

                <!-- <app-form [clear_form]="clear_form" [submit_clicked]="submit_clicked"
                    (formValues)="getCategoryData($event)" [option]="option" [form]=form>
                  </app-form> -->


              </div>

            </div>
            <div class="tab-pane show" id="tab-content-1" role="tabpanel">
              <div class="card">
                <!-- <div class="card-header">Product Information</div> -->
                <div class="card-body">


                  <div class="position-relative form-group">
                    <label for="exampleFile" class="">Upload Photo</label>
                    <input name="file" id="exampleFile" type="file" class="form-control-file">

                    <small class="form-text text-muted">Up to 5 images, max 5 MB each.</small>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      ​<picture>
                        <img src="assets/images/product-photo1.png" class="img-fluid img-thumbnail">
                        <div class="buttons mt-2">
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Edit</button>
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Delete</button>
                        </div>
                      </picture>

                    </div>
                    <div class="col-lg-3">
                      ​<picture>
                        <img src="assets/images/product-photo1.png" class="img-fluid img-thumbnail">
                        <div class="buttons mt-2">
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Edit</button>
                          <button class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Delete</button>
                        </div>
                      </picture>

                    </div>
                  </div>


                </div>
                <div class="d-block text-right card-footer">
                  <a href="javascript:void(0);" class="btn-wide btn btn-success">Save</a>
                </div>
              </div>
            </div>
            <div class="tab-pane show" id="tab-content-2" role="tabpanel">
              <div class="card">
                <!-- <div class="card-header">Product Information</div> -->
                <div class="card-body">

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Price</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Old Price</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Product Cost</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Discount </label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                            <span class="input-group-text">£</span>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="position-relative form-group">
                        <label class="">Tax Amount</label>
                        <div class="input-group">
                          <input placeholder="..." type="number" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text">£</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
                <div class="d-block text-right card-footer">
                  <a href="javascript:void(0);" class="btn-wide btn btn-success">Save</a>
                </div>

              </div>

            </div>
          </div>
        </div>


      </div>





    </div>




  </div>








</div>