<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div>
          <div> Staff Managment
            <div class="page-title-subheading">Staff listing
            </div>
          </div>
        </div>
        <div class="page-title-actions">

          <div class="d-inline-block dropdown">
            <a style="margin-left: 4px;color: white;" class="btn-shadow  btn btn-info" (click)="navigateToStaffAdd()">
              <i class="icofont-ui-add"></i> Add New
            </a>
            <!-- <div class="btn-group ">
              <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"><i class="icofont-upload-alt"></i> Export</button>
              <button type="button" class="btn m btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Download PDF</a>
                <a class="dropdown-item" href="#">Export to Excel</a>

              </div>
            </div>
            <button style="margin-left: 4px;" type="button" class="btn  btn-secondary"> <i class="icofont-download-alt"></i> Import </button> -->

            <button (click)="deleteMultipleStaff()" style="margin-left: 4px;" type="button"
              class="btn-shadow  btn btn-danger">
              <i class="icofont-trash"></i> Delete Selected
            </button>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">

        <h4 class="d-flex flex-wrap justify-content-between align-items-center mb-3">
          <div>Staff</div>
          <div class="col-12 col-md-4 p-0 mb-4">
            <i *ngIf="loaded; else spin;" (click)="refresh()" class="fa fa-refresh"
            style="font-size: 30px; margin-top: 5px;"></i>
          <ng-template #spin>
            <i (click)="refresh()" class="fa fa-refresh fa-spin" style="font-size: 30px; margin-top: 5px;"></i>
          </ng-template>
          <input style="width: 90%; float: right;" type="text" class="form-control"
          (keyup)="applyFilter($event.target.value)" placeholder="Search...">
           </div>
        </h4>
        <div class="main-card mb-3 card">
          <!-- <div class="card-header">Products
                                        <div class="btn-actions-pane-right">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <button class="active btn btn-focus">Received </button>
                                                <button class="btn btn-focus">Pending</button>
                                            </div>
                                        </div>
                                    </div> -->
          <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
          <div class="card-body">

            <div class="table-responsive">
              <!-- <mat-form-field style="width: 100%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
              </mat-form-field> -->

              <div class="mat-elevation-z8">
                <div class="example-container">
                  <table mat-table [dataSource]="dataSource" style="width: 100%;">
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="checkboxClicked($event,row)" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="user image">
                      <th style="padding-left: 5px;padding-right: 5px;" mat-header-cell *matHeaderCellDef> </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element"> <img
                          style="width: 30px; height: 30px;"
                          [src]="element.user_image!=null ? element.user_image : '../../../assets/images/no_image.png'" />
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="name" sticky>
                      <th style="padding-left: 5px;padding-right: 5px;" mat-header-cell *matHeaderCellDef> Name </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element">
                        <span> {{element.first_name}} </span>
                        <span> {{element.last_name}} </span>
                      </td>
                    </ng-container>

                    <ng-container style="margin-right: 5px;" matColumnDef="Type">
                      <th style="padding-left: 5px;padding-right: 5px;" mat-header-cell *matHeaderCellDef> Type </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element">
                        <span style="color: white;"class="badge" [ngClass]="{
                            'badge-info':element.type === 'staff',
                            'badge-warning':element.type === 'waiter',
                            'badge-primary':element.type === 'user',
                            'badge-success':element.type === 'manager',
                            'badge-dark':element.type === 'kitchen_manager',
                            'badge-danger':element.type === 'admin',
                            'badge-secondary':element.type === 'guest',
                            'badge-light':element.type === 'counter_attendant'
                          }"> {{element.type | removeUnderScore | titlecase}}</span>
                        <!-- {'admin': 1, 'user': 2, 'guest': 3, 'manager': 4, 'waiter': 5, 'staff': 6, 'kitchen_manager':7} -->

                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                      <th style="padding-left: 5px;padding-right: 5px;" mat-header-cell *matHeaderCellDef> Email </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element">
                        {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Salary">
                      <th style="padding-left: 5px;padding-right: 5px;" mat-header-cell *matHeaderCellDef> Salary
                      </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element">
                        {{element.salary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Salary Disbursement">
                      <th style="padding-left: 5px;padding-right: 5px;" mat-header-cell *matHeaderCellDef> Salary
                        Disbursement </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element">
                        {{element.salary_disbursement}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Job Shift">
                      <th style="padding-left: 5px;padding-right: 5px;" mat-header-cell *matHeaderCellDef> Job Shift
                      </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element">
                        {{element.job_shift}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th style="padding-left: 5px;padding-right: 5px;" width="75px" mat-header-cell *matHeaderCellDef>
                        Actions </th>
                      <td style="padding-left: 5px;padding-right: 5px;" mat-cell *matCellDef="let element">
                        <div class="buttons">
                          <!-- <a style="color: #8f8f8f;" (click)="getStaffId(element.id,'edit')"
                              class="mb-2 mr-2 btn-transition btn btn-outline-light btn-sm">Edit</a> -->

                          <button style="margin-right: 2px;" (click)="getStaffId(element.id,'edit')" class="table_button btn btn-success btn-sm"><i
                              class="fa fa-edit"></i></button>
                          <button  (click)="getStaffId(element.id,'delete')" class="table_button btn btn-danger btn-sm"><i
                              class="fa fa-trash-o"></i></button>

                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="table_headers"></tr>
                    <tr mat-row *matRowDef="let row; columns: table_headers;"></tr>

                  </table>
                </div>

              </div>
            </div>
            <mat-paginator class="mat-paginator-sticky" #paginator [pageSize]="10" showFirstLastButtons
              [pageSizeOptions]="[10,50,100,500]">
            </mat-paginator>
          </div>


        </div>
      </div>

    </div>


  </div>








</div>
