
<!-- <div > -->
  <!-- <div class="app-main__inner"> -->
    <!-- <div class="app-page-title"> -->
      <!-- <div class="page-title-wrapper"> -->
        <!-- <div class="page-title-heading"> -->
          <!-- <div class="page-title-icon bg-warning text-white">
            <i class="icofont-dashboard-web  ">
            </i>
          </div> -->
          <!-- <mat-toolbar color="primary">
            Edit Query
          </mat-toolbar> -->
          <!-- <div> Staff Managment
            <div class="page-title-subheading">Edit Query
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="page-title-actions">

          <div class="d-inline-block dropdown">
           
          </div>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="row"> -->
      <!-- <div class="col-md-12 col-lg-12"> -->
       
        <!-- <div class="card mb-3"> -->

          <div class="tab-content">
            <div class="tab-pane show active" id="tab-content-0" role="tabpanel">
              <!-- <div class="card"> -->
                <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
                <!-- <app-form [clear_form]="clear_form" [submit_clicked]="submit_clicked" (formValues)="getQueryData($event)"
                  [form]=form>
                </app-form> -->
                
               
                <form [formGroup]="queryForm" #formDir="ngForm" (ngSubmit)="onSubmit(queryForm)">
                  <div class="card-header">

                    <div style="width: 100%;" class="row">

                      <div class="col-lg 6">
                        Edit Query
                      </div>


                      <!-- <div class="col-lg 6">
                        <button type="submit" style="float: right; margin-right: -30px;" class="btn btn-sm btn-success">
                          Add Query
                        </button>
                      </div> -->

                    </div>
                  </div>


                  <div style="margin: 20px" class="col-md-8">
                    <div class="form-group">
                      <label for="question">Question <span style="color: red;">*</span></label>
                      <input type="question" formControlName="question" class="form-control" id="question">
                      <span style="color: red;" *ngIf="getFormControl('question').invalid &&
                      (getFormControl('question').dirty || getFormControl('question').touched ||formDir.submitted)">
                        Question is required.
                      </span>
                    </div>
                  </div>

                  <!-- <div style="margin: 20px" class="col-md-4">
                    <div class="form-group">
                        <label for="question">Reply Type <span style="color: red;">*</span></label>
                        <select class="form-control" formControlName="reply_type" required>
                          <option value="Text">Text field</option>
                          <option value="check">Check</option>
                          <option value="reasoning">Reasoning</option>
                        </select>
                    </div>
                  </div> -->
                  
                <div style="margin: 20px" class="col-md-12" *ngIf="queryData?.reply_type === 'reasoning'">
                  <div class="form-group" >
                    <label>Add Reasoning <span style="color: red;">*</span>
      
                      <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-success"
                      (click)="addAttribute()"><i class="icofont-ui-add"></i></button>
                        <button type="button" style="color: white;margin-left: 6px;" class="btn btn-sm btn-danger"
                        (click)="minusAttribute()"><i style="margin-top: -2px;" class="fa fa-minus"></i></button>
      
                    </label>
                    <div formArrayName="answer_options">
                      <div *ngFor="let attribute of queryForm.controls.answer_options.controls; let i = index"
                        [formGroupName]="i">
                        <div style="margin-bottom: 5px;" class="row">
                          <div class="col-lg-4">
                            <input placeholder="Option" formControlName="name" class="form-control"  />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div  class="d-block text-right card-footer">
                  <button [disabled]="submit_clicked" class="btn btn-success pull-right " style="margin-bottom: 15px;" type="submit"
                    >Submit</button>
                </div>

                </form>
            <!-- </div> -->
           
           
          </div>
        </div>


      <!-- </div> -->





    <!-- </div> -->




  <!-- </div> -->








<!-- </div> -->